## FASE 1

In [2]:
# importo librerias

import requests
import pandas as pd
import json
import mysql.connector
import numpy as np

In [3]:
# me descargo la info desde la url que nos han dado

url_peliculas="https://beta.adalab.es/resources/apis/pelis/pelis.json"
respuesta=requests.get(url_peliculas)
datos_peliculas=respuesta.json()
df_peliculas=pd.json_normalize(datos_peliculas)
print("Datos descargadosy normalizados en un Data Frame")
print (df_peliculas.head())

Datos descargadosy normalizados en un Data Frame
   id                 titulo   a√±o  duracion  genero  adultos    subtitulos
0   1          The Godfather  1972       175  Crimen    False      [es, en]
1   2  The Godfather Part II  1974       202  Crimen    False      [es, en]
2   3           Pulp Fiction  1994       154  Crimen     True      [es, en]
3   4           Forrest Gump  1994       142   Drama    False  [es, en, fr]
4   5        The Dark Knight  2008       152  Acci√≥n    False      [es, en]

In [4]:
df_peliculas.info

<bound method DataFrame.info of      id                                 titulo   a√±o  duracion    genero  \
0     1                          The Godfather  1972       175    Crimen
1     2                  The Godfather Part II  1974       202    Crimen
2     3                           Pulp Fiction  1994       154    Crimen
3     4                           Forrest Gump  1994       142     Drama
4     5                        The Dark Knight  2008       152    Acci√≥n
..  ...                                    ...   ...       ...       ...
95   96                        La vita √® bella  1997       116     Drama
96   97                    Requiem for a Dream  2000       102     Drama
97   98                                Memento  2000       113  Thriller
98   99  Eternal Sunshine of the Spotless Mind  2004       108     Drama
99  100                           Donnie Darko  2001       113     Drama

    adultos    subtitulos
0     False      [es, en]
1     False      [es, en]
2      True      [es, en]
3     False  [es, en, fr]
4     False      [es, en]
..      ...           ...
95    False  [es, en, it]
96     True      [es, en]
97     True      [es, en]
98    False      [es, en]
99     True      [es, en]

[100 rows x 7 columns]>

## FASE 2

Hasta aqui me he descargado el .json y lo tengo en un data frame ahora entramos en la parte de mySQL para crear la BD

In [5]:
import mysql.connector
try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='?10101948SanMartin',
    )
    print('Conexi√≥n exitosa')
except Error as e:
    print('Error al conectar:', e)

Conexi√≥n exitosa

In [6]:
try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS Adalab_Peliculas"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Query exitosa

## FASE 3

# crear tabla en my SQL Workbench

In [7]:
mycursor.execute("USE Adalab_Peliculas")

query = '''CREATE TABLE IF NOT EXISTS peliculas (
    id INT PRIMARY KEY AUTO_INCREMENT,
    Titulo VARCHAR(255) NOT NULL,
    A√±o_Lanzamiento INT,
    Duraci√≥n INT,
    Genero VARCHAR (255),
    Contenido_adultos BOOLEAN
);'''

mycursor.execute(query)

# introducir datos en tabla creada peliulas

In [ ]:
# Query de inserci√≥n
query_insert = """
INSERT INTO peliculas (Titulo, A√±o_Lanzamiento, Duraci√≥n, Genero, Contenido_adultos) 
                              
VALUES (%s, %s, %s, %s, %s)
"""


# Convertir DataFrame a lista de tuplas
#pd.notna(): Verifica si el valor no es NaN/null antes de insertarlo
#iterrows(): Itera sobre las filas del DataFrame

# Reemplazar NaN con None para que se inserten como NULL en la BD
# Reemplazar NaN con None de forma m√°s robusta
df_clean = df_peliculas.replace({np.nan: None, 'nan': None, 'NaN': None})
# Convertir DataFrame directamente a lista de tuplas
datos_a_insertar= []
for index,row in df_peliculas.iterrows():
    
    tupla_datos=(
        row ['titulo'], 
        row ['a√±o'],
        row ['duracion'],
        row ['genero'],
        bool(row ['adultos'])
    )
    datos_a_insertar.append(tupla_datos)
# Ejecutar inserci√≥n
try:
    mycursor.executemany(query_insert, datos_a_insertar)
    cnx.commit()
    print(f"{mycursor.rowcount} registros insertados")
except Error as e:
    print(f"Error al ejecutar la inserci√≥n:{e}")

100 registros insertados

## FASE 4

# He creado las consultas en SQL y las traigo aqui de manera autom√°tica

In [ ]:
import pandas as pd
import mysql.connector
import re 
from mysql.connector import Error

# --- 1. CONFIGURACI√ìN ---
DB_CONFIG = {
    'host': '127.0.0.1',
    'database': 'Adalab_Peliculas', 
    'user': 'root',          
    'password': '?10101948SanMartin'  
}
# üö® ACTUALIZACI√ìN: Usamos el nombre de archivo correcto
ARCHIVO_SQL = 'Ejercicio1_Fase4.sql'

# --- 2. FUNCI√ìN DE UTILIDAD: LECTURA DEL ARCHIVO SQL ---

def leer_y_separar_consultas(archivo_path):
    """
    Lee un archivo SQL y separa cada consulta usando los comentarios de l√≠nea (--)
    como delimitadores para identificar el inicio de cada nueva consulta.
    """
    try:
        with open(archivo_path, 'r', encoding='utf-8') as f:
            contenido = f.read()
    except FileNotFoundError:
        print(f"‚ùå Error: Archivo '{archivo_path}' no encontrado. ¬°Verifica la ruta!")
        return {}

    # Patr√≥n para dividir por cualquier l√≠nea que comience con -- (comentario)
    # y capturar el comentario como identificador (clave del diccionario).
    # Este patr√≥n es una versi√≥n robusta basada en la estructura que proporcionaste.
    consultas_divididas = re.split(r'(--\s*.*)', contenido)
    
    consultas = {}
    clave_actual = "Inicio" 
    
    for parte in consultas_divididas:
        parte = parte.strip()
        if not parte:
            continue
            
        if parte.startswith('--'):
            # El comentario es la nueva clave
            clave_actual = parte.replace('--', '').strip()
        else:
            # El texto es la consulta SQL
            if clave_actual != "Inicio" and parte.upper().startswith('SELECT'):
                # Usamos una versi√≥n limpia del comentario como clave del diccionario
                consultas[clave_actual] = parte
            
    return consultas

# --- 3. FUNCI√ìN DE EJECUCI√ìN ---

def ejecutar_multiples_consultas(consultas_dict):
    """Ejecuta todas las consultas del diccionario y almacena los resultados en DataFrames."""
    resultados = {}
    cnx = None
    try:
        cnx = mysql.connector.connect(**DB_CONFIG)
        
        print(f"‚úÖ Conexi√≥n establecida a la BD '{DB_CONFIG['database']}'.")
        print("--- INICIANDO EJECUCI√ìN DE CONSULTAS ---")

        for nombre, query in consultas_dict.items():
            # Limpiamos la query de posibles saltos de l√≠nea y comentarios finales
            query_limpia = query.split(';')[0].strip() + ';'

            try:
                df = pd.read_sql(query_limpia, cnx)
                resultados[nombre] = df
                
                print(f"\n‚úÖ Consulta: {nombre}")
                print("-" * (len(nombre) + 12))
                print(df)
                
            except Exception as e:
                print(f"\n‚ùå Error al ejecutar la consulta '{nombre}': {e}")
                
    except Error as e:
        print(f"\n‚ùå Error de conexi√≥n a MySQL: {e}")
        
    finally:
        if cnx and cnx.is_connected():
            cnx.close()
            print("\n‚úÖ Conexi√≥n a MySQL cerrada.")
            
    return resultados

# --- 4. EJECUCI√ìN DEL FLUJO PRINCIPAL ---

# 1. Leer y separar las consultas del archivo
consultas = leer_y_separar_consultas(ARCHIVO_SQL)

# 2. Ejecutar las consultas y obtener los resultados
dataframes_resultados = ejecutar_multiples_consultas(consultas)

‚úÖ Conexi√≥n establecida a la BD 'Adalab_Peliculas'.
--- INICIANDO EJECUCI√ìN DE CONSULTAS ---

‚úÖ Consulta: ¬øCu√°ntas pel√≠culas tienen una duraci√≥n superior a 120 minutos?
--------------------------------------------------------------------------
   Total_peliculas_largas
0                  2484.0

‚úÖ Consulta: ¬øCu√°ntas pel√≠culas tienen contenido adulto?
-------------------------------------------------------
   Contenido_adultos
0             2884.0

‚úÖ Consulta: ¬øCu√°l es la pel√≠cula m√°s antigua registrada en la base de datos
---------------------------------------------------------------------------
         Titulo  A√±o_Lanzamiento
0  Citizen Kane             1941

‚úÖ Consulta: Muestra el promedio de duraci√≥n de las pel√≠culas agrupado por g√©nero
--------------------------------------------------------------------------------
             Genero  Duracion_Promedio
0            Crimen           154.2857
1             Drama           126.2593
2            Acci√≥n           139.4444
3   Ciencia ficci√≥n           136.3077
4           Romance           139.6667
5            B√©lico           161.0000
6          Thriller           121.6667
7           Musical           128.0000
8          Fantas√≠a           159.8000
9          Aventura           133.0000
10        Animaci√≥n           103.0000
11        Biograf√≠a           142.3333
12           Terror           116.5714
13         Suspense           120.0000
14          Comedia           117.0000
15          Western           166.5000

‚úÖ Consulta: ¬øCu√°ntas pel√≠culas por a√±o se han registrado en la base de datos? Ordena de mayor a menor.
------------------------------------------------------------------------------------------------------
    A√±o_lanzamiento  COUNT(id)
0              1941          1
1              1942          1
2              1954          1
3              1957          1
4              1958          1
5              1960          1
6              1972          1
7              1973          1
8              1974          1
9              1976          2
10             1977          1
11             1979          1
12             1980          3
13             1982          1
14             1983          1
15             1984          1
16             1985          1
17             1986          1
18             1990          1
19             1991          2
20             1993          2
21             1994          4
22             1995          2
23             1997          3
24             1998          3
25             1999          4
26             2000          3
27             2001          5
28             2002          3
29             2003          3
30             2004          3
31             2006          2
32             2007          1
33             2008          4
34             2009          3
35             2010          3
36             2011          1
37             2012          3
38             2013          4
39             2014          3
40             2015          3
41             2016          3
42             2017          4
43             2018          3
44             2019          3
45             2021          1

‚úÖ Consulta: Cu√°l es el a√±o con m√°s pel√≠culas en la base de datos
----------------------------------------------------------------
   A√±o_lanzamiento  Total_Peliculas
0             2001                5

‚úÖ Consulta: Obt√©n un listado de todos los g√©neros y cu√°ntas pel√≠culas corresponden a cada uno
---------------------------------------------------------------------------------------------
             Genero  COUNT(id)
0            Crimen          7
1             Drama         27
2            Acci√≥n          9
3   Ciencia ficci√≥n         13
4           Romance          3
5            B√©lico          2
6          Thriller          6
7           Musical          1
8          Fantas√≠a          5
9          Aventura          3
10        Animaci√≥n          9
11        Biograf√≠a          3
12           Terror          7
13         Suspense          2
14          Comedia          1
15          Western          2

‚úÖ Consulta: Muestra todas las pel√≠culas cuyo t√≠tulo contenga la palabra "Godfather" (puedes usar cualquier palabra)
-------------------------------------------------------------------------------------------------------------------
                  titulo
0          The Godfather
1  The Godfather Part II

‚úÖ Conexi√≥n a MySQL cerrada.

/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)
/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/3789162443.py:71: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_limpia, cnx)

## COMENTARIOS ADICIONALES

En el ejericicio de arriba no he importado a la tabla la columna subtitulos porque entend√≠a del enunciado que solo importabamos las cinco columnas principales 
T√≠tulo
A√±o de lanzamiento
Duraci√≥n (en minutos)
G√©nero
Contenido para adultos (s√≠ o no)

En el Data Frame df_peliculas tengo la columna subtitulos, a√±ado esa columna a la BD para realizar la consulta que falta

No repite la conexi√≥n a My SQL, hay que ejecutar el codigo de arriba

In [ ]:
try:
    # 1. Crear el DataFrame limpio (usando df_peliculas)
    df_clean = df_peliculas.replace({np.nan: None, 'nan': None, 'NaN': None})

    # 2. Abrir la conexi√≥n
    cnx = mysql.connector.connect(**DB_CONFIG)
    mycursor = cnx.cursor()

    # 3. A√±adir la columna Subtitulos en MySQL
    try:
        mycursor.execute("USE Adalab_Peliculas;")
        mycursor.execute("ALTER TABLE peliculas ADD COLUMN Subtitulos VARCHAR(255) NULL;")
        cnx.commit()
        print("‚úÖ Columna 'Subtitulos' a√±adida a la tabla.")
    except Error as e:
        if "Duplicate column name" in str(e):
            print("Columna 'Subtitulos' ya exist√≠a, continuando con la actualizaci√≥n.")
        else:
            print(f"‚ùå Error al alterar la tabla: {e}")
            raise # Detener si hay un error grave

    # 4. Preparar la sentencia UPDATE
    # Usaremos el t√≠tulo como clave para la actualizaci√≥n
    query_update = """
    UPDATE peliculas
    SET Subtitulos = %s
    WHERE Titulo = %s;
    """

    datos_a_actualizar = []
    
    # 5. Iterar sobre df_clean para crear las tuplas de (Subtitulo_String, Titulo)
    for index, row in df_clean.iterrows():
        
        # Conversi√≥n de lista Python a string MySQL (ej. ['es', 'en'] -> 'es,en')
        subtitulos_lista = row.get('subtitulos')
        # Si es una lista, la unimos con comas; si no, usamos el valor tal cual (ser√° None o NaN previamente limpiado)
        subtitulos_a_insertar = ','.join(subtitulos_lista) if isinstance(subtitulos_lista, list) else subtitulos_lista
        
        # Tupla para la actualizaci√≥n: (Nuevo_Valor_Subtitulos, Titulo_Referencia)
        tupla_update = (
            subtitulos_a_insertar,
            row['titulo']
        )
        datos_a_actualizar.append(tupla_update)

    print(f"‚úÖ {len(datos_a_actualizar)} sentencias UPDATE preparadas.")

    # 6. Ejecutar la actualizaci√≥n masiva
    mycursor.executemany(query_update, datos_a_actualizar)
    cnx.commit()
    print(f"üéâ √âXITO: {mycursor.rowcount} filas actualizadas con los subt√≠tulos.")

except Error as e:
    print(f"‚ùå Error en la actualizaci√≥n de datos: {e}")

finally:
    if 'cnx' in locals() and cnx.is_connected():
        mycursor.close()
        cnx.close()
        print("Conexi√≥n cerrada.")

‚úÖ Columna 'Subtitulos' a√±adida a la tabla.
‚úÖ 100 sentencias UPDATE preparadas.
üéâ √âXITO: 100 filas actualizadas con los subt√≠tulos.
Conexi√≥n cerrada.

Hago la √∫ltima consulta directamente en python, como he cerrado la conexion tengo que volver a abrirla solo para hacer la query

¬øCu√°ntas pel√≠culas incluyen subt√≠tulos en espa√±ol?

In [ ]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# --- Configuraci√≥n de la Base de Datos ---
DB_CONFIG = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': '?10101948SanMartin',
    'database': 'Adalab_Peliculas' # A√±adir la BD aqu√≠ es la mejor pr√°ctica
}

try:
    # 1. Conectar a la base de datos espec√≠fica
    cnx = mysql.connector.connect(**DB_CONFIG)
    
    # 2. Crear el CURSOR
    mycursor = cnx.cursor()
    print('Conexi√≥n exitosa')

    # 3. Definir la query
    query = """
    SELECT
        COUNT(Titulo) as Total_Peliculas_SUbtitulos_Espa√±ol
    FROM 
        peliculas
    WHERE 
        Subtitulos LIKE '%es%';
    """
    
    # 4. Ejecutar la query usando pd.read_sql
    # Ya est√° conectado a la BD Adalab_Peliculas pq la he incluido en el BD_CONFIG
    df_peliculas = pd.read_sql(query, cnx)
    
    # 5. Imprimir el resultado
    print('\nResultado de la consulta:')
    print(df_peliculas)
    
except Error as e:
    print('Error al conectar o ejecutar la consulta:', e)

finally:
    # 6. Cerrar la conexi√≥n si se abri√≥
    if 'cnx' in locals() and cnx.is_connected():
        mycursor.close()
        cnx.close()
        print('Conexi√≥n cerrada.')

Conexi√≥n exitosa

Resultado de la consulta:
   Total_Peliculas_SUbtitulos_Espa√±ol
0                                 100
Conexi√≥n cerrada.

/var/folders/23/lk8jbvg92l12y_d7clg4mxtr0000gn/T/ipykernel_26512/2658469650.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_peliculas = pd.read_sql(query, cnx)